* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'nunito', sans-serif, Arial, Helvetica;
    height: 100%;
    overflow-y: auto;
    color: var(--txt-primary);
    background-color: var(--c-secondary);
}

:root {
    --c-primary: #48CFCB;
    --c-primary-2: #229799;
    --c-primary-100: #f8ffff;
    --c-primary-alpha-300: rgb(72 207 203 / 0.3);
    --c-secondary: #e2e8f0;
    --c-accent: ;
    --c-white: #ffffff;
    --c-grey-100: #dfe4df;
    --c-grey-300: #c0c5c0;
    --c-grey-500: #818181;
    --c-white-alpha-400: rgba(255 255 255 / 0.4);
    --c-black-alpha-300: rgba(0 0 0 / 0.3);
    --txt-primary: #424242;
    --txt-secondary: #48CFCB;
    --txt-white: #fefefe;
    --card-bg-col: ;
    --border-col: #bfbfbf;
    --button-col: ;
    --padding-xs: 0.5rem;
    --padding-s: 1.5rem;
    --padding-m: 3rem;
    --padding-l: 6rem;
    --margin-xs: 0.5rem;
    --margin-s: 2rem;
    --margin-m: 4rem;
    --margin-l: 6rem;
    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 2rem;
    --fw-light: 300;
    --fw-normal: 500;
    --fw-medium: 700;
    --fw-bold: 900;
    --nav-height: 6rem;
    --menu-item-width: 12rem;
    --menu-item-height: 3.5rem;
    --icon-width-nav: 2rem;
    --icon-chatbox: 1.5rem;
    --icon-width-1: 2.5rem;
    --icon-width-2: 3rem;
    --icon-width-3: 3.5rem;
    --input-height: 3rem;
    --card-height: 17.5rem;
    --b-radius-s: 0.5rem;
    --b-radius-m: 0.75rem;
    --b-radius-l: 1rem;
    --b-width-s: 2px;
    --trans-t-1: 0.1s;
    --trans-t-2: 0.25s;
    --trans-t-3: 0.35s;
    --trans-t-4: 0.7s;
    --trans-t-func-1: cubic-bezier(0.645, 0.045, 0.355, 1);
    --noti-dot-width: 0.75rem;
    --sidebar-1-minwidth: 250px;
    --sidebar-2-minwidth: 300px;
    --sidebar-2-height: 22rem;
    --main-minwidth: 500px;
    --sidebar-1-fr: 1fr;
    --sidebar-2-fr: 3fr;
    --main-fr: 9fr;
    --fs-h1: 2.4rem;
    --fs-h2: 1.7rem;
    --fs-h3: 1.3rem;
    --fs-h3-2: 1.2rem;
    --fs-h4: 0.95rem;
    --fs-h6: 0.8rem;

}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

h3.project_name {
    font-size: var(--fs-h3-2); 
    font-weight: var(--fw-medium);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-medium);
}

h6 {
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    opacity: 0.85;
}

button {
    cursor: pointer;
}



#sidebar::-webkit-scrollbar,
#members::-webkit-scrollbar,
#announcements::-webkit-scrollbar {
    width: 10px;
}
#sidebar::-webkit-scrollbar-track,
#members::-webkit-scrollbar-track,
#announcements::-webkit-scrollbar-track  {
    border-radius: 5px;
    background-color: var(--c-grey-100);
}
#sidebar::-webkit-scrollbar-thumb,
#members::-webkit-scrollbar-thumb,
#announcements::-webkit-scrollbar-thumb {
    background-color: var(--c-primary-2);
    border-radius: 5px;
}
#sidebar::-webkit-scrollbar-thumb:hover,
#members::-webkit-scrollbar-thumb:hover,
#announcements::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 1rem #000000;
}

#sidebar::-webkit-scrollbar-thumb:active,
#members::-webkit-scrollbar-thumb:active,
#announcements::-webkit-scrollbar-thumb:active {
    box-shadow: none;
}

svg {
    width: var(--icon-width-1);
    aspect-ratio: 1 /   1;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--txt-primary);
    stroke: var(--txt-primary);
}

#inbox_icon, #noti_icon {
    width: var(--icon-width-nav);
}

#dash_icon {
    width: calc(var(--icon-width-nav) * 2);
}

#main_container {
    display: grid;
    position: relative;
    grid-template-columns: minmax(var(--sidebar-1-minwidth), var(--sidebar-1-fr)) minmax(var(--main-minwidth), var(--main-fr)) minmax(var(--sidebar-2-minwidth), var(--sidebar-2-fr));
    grid-template-rows: auto 1fr;
    min-height: 100dvh;
    min-width: fit-content;
    background: var(--c-secondary);
    transition: all var(--trans-t-2);
}

#header,#footer {
    position: absolute;
}

/* input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

input[type="checkbox"]:checked > svg { 
    fill: white;
} */

#sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: var(--padding-s) 0;
    text-align: center;
    background: var(--c-primary);
    height: 100dvh;
    position: sticky;
    top: 0;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#burger_menu_container {
    width: var(--icon-width-nav);
    height: var(--icon-width-nav);
    min-height: var(--icon-width-nav);
    position: relative;
    display: none;
}

input[type="checkbox"] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    visibility: hidden;
}

.burger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.burger span {
    background: var(--txt-primary);
    height: 20%;
    width: 100%;
    position: absolute;
    border-radius: 100px;
    left: 0;
    transition: all var(--trans-t-3) ease;
}

.burger .top {
    top: 0;
}

.burger .middle {
    top: 50%;
    transform: translateY(-50%);
}

.burger .bottom {
    bottom: 0;
}

#burger_menu_container:has(input[type]:checked) span {
    transition: all var(--trans-t-3) ease;
}

#burger_menu_container:has(input[type]:checked) .top {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 15%;
    width: 120%;
}

#burger_menu_container:has(input[type]:checked) .middle {
    left: -100%;
    opacity: 0;
}

#burger_menu_container:has(input[type]:checked) .bottom {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 15%;
    width: 120%;
}

#dash_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
}

#sidebar_menu {
    padding: 0 var(--padding-m);
    justify-self: center;
}


.sidebar_item {
    height: var(--menu-item-height);
    padding: 0 var(--padding-s);
    /* width: var(--menu-item-width); */
    width: 100%;    
    border-radius: var(--menu-item-height);
    backdrop-filter: blur(5px);
    transition: all var(--trans-t-2);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar_item:hover {
    background-color: var(--c-white-alpha-400);
    transition: all var(--trans-t-2);
}

.sidebar_item:has(.focus) svg, .sidebar_item:active svg {
    fill: white;
    stroke: white;
}

.sidebar_item:has(.focus), .sidebar_item:active {
    background-color: var(--c-primary-2);
    color: white;
}

ul {
    margin-top: var(--margin-m);
    list-style-type: none;
    display: grid;
    gap: var(--gap-m);
    
}
/* 
ul > * {
    width: 100%;
    } */
    
    li > * {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    line-height: 0;
}

.menu_icon {
    width: var(--icon-width-nav);
    height: var(--icon-width-nav);
}

.menu_icon > svg {
    width: 100%;
}

#nav {
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c-primary-100);
    height: var(--nav-height);
    padding: 0 var(--padding-m);
    top: 0;
    position: sticky;
    gap: var(--gap-m);
    z-index: 2;
    box-shadow: 0 0.5rem 0.5rem -0.5rem var(--c-grey-500);
}

#right_side {
    display: flex;
    gap: var(--gap-m);
    justify-content: flex-start;
    align-items: center;
}

#right_side > * {
    display: flex;
    align-items: center;
}

#inbox_button, #noti_button {
    background-color: var(--c-grey-100);
    position: relative
}

.unread {
    position: relative;
}

.unread::before {
    content:"";
    position:absolute;
    top: 0;
    right: 0;
    background-color: #48CFCB;
    width: var(--noti-dot-width);
    aspect-ratio: 1 / 1;
    z-index: 1;
    border-radius: 50%;
    transition: all var(--trans-t-2);
}

#inbox_button:hover, #noti_button:hover {
    filter: brightness(105%);
}

.unread:hover::before, .unread:hover::before, .member:hover .unread::before {
    transform: scale(140%);
}

#inbox_button:active, #noti_button:active {
    filter: brightness(98%);
    transition: all var(--trans-t-2);
}

.search_container {
    display: flex;
    width: 150px;
    min-width: 150px;
    max-width: 400px;   
    margin-left: auto;
    background: var(--c-grey-100);
    border-radius: var(--input-height);
    position: relative;
    overflow: hidden;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) var(--trans-t-3);
    z-index: 1;
}

.search_container:focus-within, .search_container:focus {
    flex-grow: 1;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) var(--trans-t-3);
}

.search_container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    height: 0.2rem;
    width: 0;
    background-color: var(--c-primary);
    transition: all var(--trans-t-3);
}

.search_container:has(.search_input:focus,.clear_search:active)::before {
    width: 100%;
    left: 0;
}

.search_container:hover:not(:has(.search_input:focus),:has(.clear_search:active)) {
    filter: brightness(105%);
    transition: all var(--trans-t-3);
}

.search_container:not(:has(.search_input:focus)) .clear_search {
    color: transparent;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search_input {
    width: 100%;
    height: var(--input-height);
    border: none;
    border-radius: var(--input-height);
    background: transparent;
    padding-left: calc(var(--input-height) - var(--padding-xs) );
    padding-right: calc(var(--padding-s) + var(--padding-xs));
    z-index: 1;
}

.search_input:focus-visible {
    outline-color: var(--c-primary);
}

div.search_icon {
    background: url(./images/search_icon.svg);
    width: var(--input-height);
    position: absolute;
    left: 0;
    height: var(--input-height);
    display: flex;
    align-items: center; 
}   

.search_icon > svg {
    width: var(--icon-width-1);
}

.clear_search {
    position: absolute;
    right: calc(0.25rem* 3);
    border: none;
    background: none;
    display: flex;
    color: initial;
    align-items: center;
    transition: all var(--trans-t-1);
    z-index: 2;
}

#user_profile{
    order: 1;
    display: flex;
    gap: var(--gap-s);
}

#user_pic {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    background: var(--c-grey-500);
    flex-shrink: 0;
}

#user_pic img {
    width: 100%;
}

#user_profile {
    transition: all var(--trans-t-2);
    cursor: pointer;
}

#user_profile:hover #user_pic {
    filter: brightness(110%);
    transition: all var(--trans-t-2);
    transform: scale(102.5%);
}

#user_profile:active, #user_profile:active #user_pic {
    filter: none;
    transform: none;
    color: black;
}

.search_icon, #inbox_container, #noti_container, #inbox_button, #noti_button, #user_pic {
    width: var(--icon-width-2);
    height: var(--icon-width-2);
    aspect-ratio: 1 / 1;
    border-radius: var(--icon-width-2);
    padding: 0; 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    grid-column: 2 / -2;
    grid-row: 2;
    display: grid;
    gap: var(--gap-m);
    padding: 0 var(--padding-m);
    grid-template-rows: auto 1fr;
    background: transparent;
    padding-top: var(--padding-s);
}

#buttons_container {
    grid-column: 1;
    grid-row: 1;
    min-height: var(--input-height);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
}

#buttons_container > button {
    font-weight: var(--fw-medium);
    border: none;
    color: var(--c-primary);    
    background: var(--c-primary-100);
    padding: 0 calc(var(--padding-xs) + var(--padding-s));
    height:var(--input-height);
    border-radius: var(--b-radius-s);
    transition: all var(--trans-t-2);
    position: relative;
    overflow: hidden;
    z-index: 1; 
}

#buttons_container > button:hover {
    transition: all var(--trans-t-2);
    box-shadow: 0.75rem 0.75rem 1rem -0.75rem var(--c-black-alpha-300);
}

#buttons_container > button:active {
    box-shadow: none;
    transform: scale(95%);
    filter: brightness(99%);
    transition: all var(--trans-t-2);
}

#projects_container {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap-m);
}

.main_heading {
    height: min-content;
}

#projects_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-height), 1fr));
    grid-auto-rows: min-content;
    gap: var(--gap-m) var(--gap-l);
    position: relative;
}

.card_container {
    min-height: fit-content;
    aspect-ratio: 1.5 / 1.2;
    position: relative;
    transition: all var(--trans-t-2) ease;
    border-radius: var(--b-radius-l);
    overflow: hidden;
}

.project_card {
    /* position: relative; */
    border-radius: inherit;
}

.project_card > .project_wrapper {
    height: 100%;
    width: 100%;
    background: var(--c-primary-100);
    border-radius: inherit;
}

.project_details {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--padding-s); /* gap being equal to padding-top will hide the description and only show the title when hovered over the img */
    padding: var(--padding-s) var(--padding-s);
    background-color: inherit;
    height: 90%;
    width: 100%;
    bottom: 0;
    border-radius: inherit;
    transition: all var(--trans-t-4) var(--trans-t-func-1);
    box-shadow: 0 -1rem 1rem -1rem var(--c-black-alpha-300);
}

.project_details .pr_details_btn_group {
    position: absolute;
    /* bottom: calc(var(--padding-s) - (var(--fs-h2) - var(--fs-h3-2)) / 2); */
    bottom: var(--padding-s);
    right: var(--padding-s);
    display: flex;
    gap: var(--gap-s);
    align-items: center;
}

.pr_details_btn {
    border: none;
    /* width: var(--fs-h2);
    height: var(--fs-h2); */
    width: var(--fs-h3);
    height: var(--fs-h3);
    background: none;
    transition: all var(--trans-t-2);
}

.pr_details_btn svg {
    width: 100%;
    stroke: var(--txt-primary);
    fill: var(--txt-primary);
}

.pr_details_btn:hover {
    transform: scale(115%);
    transition: all var(--trans-t-2);
}

.pr_details_btn:active svg {
    transform: unset;
    stroke: var(--c-primary-2);
    fill: var(--c-primary-2);
    transition: all var(--trans-t-2);
}

.project_name {
    /* color: var(--c-primary-2); */
    color: inherit;
}

.project_desc {
    font-weight: 500;
    line-height: 1.5;
}

.project_img_container, .project_img_container img {
    position: aboslute;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    transition: all var(--trans-t-4) cubic-bezier(0.645, 0.045, 0.355, 1);
}    

.card_container , #announcements, #team_wrapper, #buttons_container > button {
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--c-black-alpha-300);
}

#projects_grid:has(.card_container:hover) > .card_container:not(:hover) {
    filter: brightness(95%);  
}    

.card_container:hover {
    box-shadow: 1rem 1rem 1rem -1rem var(--c-black-alpha-300);
}    

.project_img_container:hover + .project_details {
    height: calc(var(--padding-s) * 2 + var(--fs-h3-2));
    box-shadow: 0 -0.25rem 0.25rem -0.25rem var(--c-black-alpha-300);
}


#sidebar2 {
    grid-column: -2 / -1;
    grid-row: 2 / -1;
    height: calc(100dvh - var(--nav-height)); 
    display: grid;
    grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr);
    gap: var(--gap-m);
    position: sticky;
    top: calc(var(--nav-height));
    align-self: start;
    background: transparent;
    padding-top: var(--padding-s);
    padding-right: var(--padding-s);
    padding-bottom: var(--padding-s);
    overflow: auto;
    min-width: min-content;
}

#sidebar2 > div {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap-s);
    
}

#sidebar2 > div > div {
    justify-self: center;
    background: var(--c-primary-100);
    width: 100%;
    border-radius: var(--b-radius-s)
}


#team_container {
    grid-row: 1;
}

#announce_container {
    grid-row: 2;
}

#team_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#team_wrapper .search_container {
    min-width: unset;
    width: 80%;
    max-width: unset;
    margin: unset;
    margin-block: calc(var(--margin-xs) * 2);
    flex-shrink: 0;
}

#team_wrapper .search_container:focus-within {
    flex-grow: 0;
}

#members {
    width: 100%;    
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--padding-xs) calc(var(--padding-s) - var(--padding-xs));
    gap: var(--gap-xs);
}

.member {
    display: grid;
    grid-template-columns: minmax(min-content, 2fr) 6fr minmax(min-content, 2fr);
    gap: calc(var(--gap-xs) * 4);
    align-items: center;
    border-radius: var(--b-radius-s);
    padding: var(--padding-xs);
    cursor: pointer;
    position: relative;
}

.member:hover {
    background: var(--c-grey-100);
    transition: all var(--trans-t-2);
}

.member:hover .member_pp {
    transform: scale(105%);
    transition: transform var(--trans-t-2);
}

.member:active {
    background-color: var(--c-grey-300);
}

.member:active .member_pp {
    transform: unset;
}

.member_pp.unread::after {
    content: "unread";
    padding: 0.2rem 0.3rem;
    background: rgb(0 0 0 / 0.6);
    backdrop-filter: blur(3px);
    border-radius: 0.4rem;
    position: absolute;
    color: var(--txt-secondary);
    z-index: 2;
    font-size: 0.85rem;
    bottom: calc(-1 * (var(--padding-xs)));
    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    letter-spacing: 0.1ch;
    opacity: 0;
    transition: all var(--trans-t-3);
}
.member:hover .member_pp.unread::after {
    opacity: 1;
    transition: all cubic-bezier(.8,0,.8,0) 1s;
}

.member_pp {
    width: var(--icon-width-2);
    aspect-ratio: 1 / 1;
    background: var(--c-grey-100);
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--trans-t-2);
}

.team_member_pp, .user_pp {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.member_bio {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.contact_group {
    display: flex;
    gap: var(--gap-xs);
    flex-wrap: wrap;
    justify-content: flex-end;
}

.message_icon > svg, .call_icon > svg {
    width: var(--icon-chatbox);
}

.message_icon > svg:hover, .call_icon > svg:hover {
    transform: scale(120%);
    transition: all var(--trans-t-2);
}

#announcements {
    display: flex;
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-s);
    overflow: auto;
}

.announcement {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding-block: calc(var(--gap-xs) + var(--padding-xs));
}

.announcement ~ .announcement {
    border-top: var(--b-width-s) solid var(--border-col);
}

@media only screen and (max-width: 1300px) {
    :root {
        --sidebar-1-minwidth: 100px;
        --sidebar-1-fr: 1fr;
    }

    #burger_menu_container {
        display: block;
    }

    #org_container {
        display: none;
    }

    #dash_container {
        display: none;
    }

    #sidebar {
        position: fixed;
        width: var(--sidebar-1-minwidth);
        z-index: 4;
        transition: all var(--trans-t-3) ease;
    }

    /* #sidebar::before {
        content: "";
        height: 100dvh;
        width: 100dvw;
        background-color: var(--c-black-alpha-300);
        position: absolute;
        top: 0;
        left: 0;

    } */
    .sidebar_item .name {
        display: none;
    }
    .sidebar_item {
        min-width: var(--menu-item-height);
        padding: 0 var(--padding-xs);
        justify-content: center;
        transition: all var(--trans-t-3);
    }

    #sidebar:has(input[type]:checked) {
        /* width: var(--sidebar--minwidth); */
        --sidebar-width: 200px;
        transition: all var(--trans-t-3) ease;
    }

    #sidebar:has(input[type]:checked) #burger_menu_container {
        align-self: flex-end;
        margin: 0 var(--padding-s);
    }

    #sidebar:has(input[type]:checked) .sidebar_item .name {
        display: inline;
    }

    #nav {
        position: fixed;
        right: 0;
        width: calc(100% - var(--sidebar-1-minwidth));
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --card-height: 16.5rem;
        --sidebar-width: 5rem;
        --nav-height: 5rem;
    }

    #dash_icon {
        width: var(--icon-width-1);
    }

    #main_container {
        grid-template-columns: minmax(var(--sidebar-width), 1fr) 8fr;
        grid-template-rows: var(--nav-height    ) auto;
    }

    #sidebar {
        position: fixed;
        z-index: 4;
        width: var(--sidebar-width);
    }

    #sidebar_menu {
        padding: calc(var(--padding-xs) * 2);
    }

    #nav {
        position: fixed;
        right: 0;
        width: calc(100% - var(--sidebar-width)); 
    }

    #greet_container {
        display: none;
    }

    .search_container{ 
        min-width: var(--input-height);
        width: var(--input-height);
    }

    /* .search_container:focus-within {

    } */

    div.search_icon {
        padding-left: unset;
    }

    #username {
        display: none;
    }

    #main {
        padding-top: var(--padding-s);
    }

/* 
    #sidebar2 {
        grid-column: 1;
        grid-row: 3;
        height: max-content;
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        grid-template-rows: auto;
        padding: 0;
        padding-bottom: var(--padding-s);
    } */
    #sidebar2 {
        grid-column: 2;
        grid-row: 3;
        /* height: calc(100dvh / 2); */
        height: fit-content;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        top:unset;
        overflow: hidden;
        padding-top: var(--padding-s);
        padding-inline: var(--padding-s);
        display: flex;
        min-width: min-content;

    }
    /* #sidebar2 #team_container {
        display: none;
        background-color: black;
    }

    #sidebar2 #announce_container {
        grid-row: 1;
        padding-inline: var(--padding-m);   
    } */

    #sidebar2 #announce_container, #sidebar2 #team_container {
        grid-column: 2; 
        grid-row: 1;
        flex: 1 0 var(--sidebar-2-minwidth);
        overflow-y: auto;
        min-width: var(--sidebar-2-minwidth);
        height: var(--sidebar-2-height);
    }
    
    /* #members {
        overflow-x: hidden;
    } */

    #sidebar2 #team_container {
        grid-column: 1;

    }
}

@media only screen and (max-width: 760px) {
    #sidebar2 #team_container {
        display: none;
        background-color: black;
    }

    #sidebar2 #announce_container {
        grid-row: 1;
        padding-inline: var(--padding-m);   
        height: unset;
    }
}