* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'nunito', sans-serif, Arial, Helvetica;
    height: 100%;
    overflow-y: auto;
    color: var(--txt-primary);
}

:root {
    --c-primary: #48CFCB;
    --c-primary-2: #229799;
    --c-primary-100: #f8ffff;
    --c-secondary: #e2e8f0;
    --c-accent: ;
    --c-white: #ffffff;
    --c-grey-100: #dfe4df;
    --c-grey-500: #818181;
    --c-white-alpha-400: rgba(255 255 255 / 0.4);
    --txt-primary: #424242;
    --txt-secondary: ;
    --txt-white: #fefefe;
    --card-bg-col: ;
    --border-col: ;
    --button-col: ;
    --padding-xs: 0.5rem;
    --padding-s: 1.5rem;
    --padding-m: 3rem;
    --padding-l: 6rem;
    --margin-s: 2rem;
    --margin-m: 4rem;
    --margin-l: 6rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 2rem;
    --fs-1: ;
    --fs-2: ;
    --fs-3: ;
    --fs-4: ;
    --fw-light: 300;
    --fw-normal: 500;
    --fw-medium: 700;
    --fw-bold: 900;
    --nav-height: 6rem;
    --menu-item-width: 12rem;
    --icon-width-nav: 2rem;
    --icon-width-1: 2.5rem;
    --icon-width-2: 3rem;
    --icon-width-3: 5rem;
    --input-height: 3rem;
    --card-height: 270px;
    --b-radius-s: 0.5rem;
    --b-radius-m: 0.75rem;
    --b-width-s: 2px;
    --trans-t-1: 0.1s;
    --trans-t-2: 0.25s;
    --trans-t-3: 0.35s;
    --noti-dot-width: 0.75rem;
}

svg {
    width: var(--icon-width-1);
    aspect-ratio: 1 /   1;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--txt-primary);
    stroke: var(--txt-primary);
}

#inbox_icon, #noti_icon {
    width: var(--icon-width-nav);
}

#dash_icon {
    width: calc(var(--icon-width-nav) * 2);
}

#main_container {
    display: grid;
    position: relative;
    /* grid-template-columns: minmax(175px, 1fr) 4fr; */
    grid-template-columns: minmax(250px, 2fr) minmax(500px, 7fr) minmax(300px, 3fr);
    grid-template-rows: auto 1fr;
    min-height: 100dvh;
    min-width: fit-content;
    background: var(--c-secondary);
}

#header,#footer {
    position: absolute;
}

#sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: var(--padding-s) 0;
    text-align: center;
    background: var(--c-primary);
    height: 100dvh;
    position: sticky;
    top: 0;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#dash_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
}

#sidebar_menu {
    padding: 0 var(--padding-m);
    justify-self: center;
}

.sidebar_item {
    padding: var(--padding-xs) 0;
    padding-left: var(--padding-s);
    /* background-color: var(--c-white-alpha-400); */
    width: var(--menu-item-width);
    border-radius: var(--b-radius-m);
    backdrop-filter: blur(5px);
    transition: all var(--trans-t-2);
}

.sidebar_item:hover {
    /* background-color: var(--c-primary-2); */
    background-color: var(--c-white-alpha-400);
}

.sidebar_item:has(.focus) svg, .sidebar_item:active svg {
    fill: white;
    stroke: white;
}

.sidebar_item:has(.focus), .sidebar_item:active {
    background-color: var(--c-primary-2);
    color: white;
}

ul {
    margin-top: var(--margin-m);
    list-style-type: none;
    display: grid;
    gap: var(--margin-s);
}

li > * {
    display: flex;
    align-items: center;
    gap: var(--margin-s);
}


#nav {
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c-primary-100);
    height: var(--nav-height);
    padding: 0 var(--padding-m);
    top: 0;
    position: sticky;
    gap: var(--gap-m);
    /* margin-bottom: var(--margin-s); */
    z-index: 2;
    box-shadow: 0 0.5rem 0.5rem -0.5rem var(--c-grey-500);
}

#right_side {
    display: flex;
    gap: var(--gap-m);
    justify-content: flex-start;
    align-items: center;
}

#right_side > * {
    display: flex;
    align-items: center;
}

#inbox_button, #noti_button {
    background-color: var(--c-grey-100);
    position: relative
}

#inbox_button::before, #noti_button::before {
    content:"";
    position:absolute;
    top: 0;
    right: 0;
    background-color: #48CFCB;
    width: var(--noti-dot-width);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: all var(--trans-t-2);
}

#inbox_button:hover, #noti_button:hover {
    filter: brightness(105%);
}

#inbox_button:hover::before, #noti_button:hover::before {
    transform: scale(140%);
}

#inbox_button:active, #noti_button:active {
    filter: brightness(98%);
    transition: all var(--trans-t-2);
}

#search_container {
    display: flex;
    width: 150px;
    min-width: 150px;
    max-width: 400px;   
    margin-left: auto;
    background: var(--c-grey-100);
    border-radius: var(--input-height);
    /* border: var(--b-width-s) solid var(--c-primary); */
    position: relative;
    overflow: hidden;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) var(--trans-t-3);
    z-index: 1;
}

#search_container:focus-within {
    flex-grow: 1;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) var(--trans-t-3);
}

#search_container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    height: 0.2rem;
    width: 0;
    background-color: var(--c-primary);
    transition: all var(--trans-t-3);
}

#search_container:has(#search_input:focus,.clear_search:active)::before {
    width: 100%;
    left: 0;
}

#search_container:hover:not(:has(#search_input:focus),:has(.clear_search:active)) {
    filter: brightness(105%);
    transition: all var(--trans-t-3);
}

#search_container:not(:has(#search_input:focus)) .clear_search {
    color: transparent;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

#search_input {
    width: 100%;
    height: var(--input-height);
    border: none;
    border-radius: var(--input-height);
    background: transparent;
    padding-left: calc(var(--input-height ) );
    padding-right: calc(var(--padding-s) + var(--padding-xs));
}

#search_input:focus-visible {
    outline-color: var(--c-primary);
}

div#search_icon {
    background: transparent;
    width: var(--input-height);
    position: absolute;
    left: 0;
    padding-left: var(--padding-xs);
    height: var(--input-height);
    display: flex;
    align-items: center; 
}

#search_icon > svg {
    width: var(--icon-width-1);
}

.clear_search {
    position: absolute;
    right: calc(0.25rem* 3);
    border: none;
    background: none;
    display: flex;
    color: initial;
    align-items: center;
    transition: all var(--trans-t-1);
}

#user_profile{
    order: 1;
    display: flex;
    gap: var(--gap-s);
}

#search_icon, #inbox_container, #noti_container, #inbox_button, #noti_button, #user_pic {
    width: var(--icon-width-2);
    height: var(--icon-width-2);
    aspect-ratio: 1 / 1;
    border-radius: var(--icon-width-2);
    padding: 0; 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    grid-column: 2 / -2;
    grid-row: 2;
    display: grid;
    gap: var(--gap-m);
    padding: 0 var(--padding-m);
    grid-template-rows: auto 1fr;
    background: transparent;
    padding-top: var(--padding-s);
}

#buttons_container {
    grid-column: 1;
    grid-row: 1;
    min-height: var(--input-height);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
}

#buttons_container > button {
    font-weight: var(--fw-medium);
    border: none;
    color: var(--c-primary);    
    background: var(--c-primary-100);
    padding: 0 var(--padding-m);
    height:var(--input-height);
    border-radius: var(--b-radius-s);
    transition: all var(--trans-t-2);
    position: relative;
    overflow: hidden;
    z-index: 1; 
}

#buttons_container > button:hover {
    transition: all var(--trans-t-2);
    box-shadow: 0 0.2rem 0.5rem -0.2rem var(--c-grey-500), inset 0 0 0.2rem 0.1rem var(--c-white);
}

#buttons_container > button:active {
    box-shadow: none;
    transform: scale(95%);
    filter: brightness(99%);
}

#projects_container {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap-m);
}

.main_heading {
    height: min-content;
}

#projects_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-height), 1fr));
    grid-auto-rows: min-content;
    gap: var(--gap-m) var(--gap-l);
}

.card_container {
    /* min-height: var(--card-height); */
    min-height: fit-content;
}

.project_card > div {
    /* background: #999999; */
    background: var(--c-primary-100);
    aspect-ratio: 1.5 / 1;
    border-radius: var(--b-radius-m);
    /* border: 1px solid black; */
}

#sidebar2 {
    grid-column: -2 / -1;
    grid-row: 2 / -1;
    height: calc(100dvh - var(--nav-height)); /*subtracting margin for nav*/ 
    /* margin-bottom: var(--margin-s); */
    display: grid;
    grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr);
    gap: var(--gap-m);
    position: sticky;
    top: calc(var(--nav-height));
    align-self: start;
    background: transparent;
    padding-top: var(--padding-s);
    padding-right: var(--padding-m);
    padding-bottom: var(--padding-s);
    overflow: auto;
}

#sidebar2 > div {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap-s);
}

#sidebar2 > div > div {
    justify-self: center;
    background: var(--c-primary-100);
    width: 100%;
    border-radius: var(--b-radius-s)
}

#team_container {
    grid-row: 1;
}

#announce_container {
    grid-row: 2;
}

.project_card > div, #team_container, #announce_container {
    box-shadow: 0.25rem 0.25rem 0.5rem var(--c-grey-100);
}